@model WebSchoolManager.Models.IndexViewModel

@{
    ViewBag.Title = "Startseite";
}
<br />
<form action="/home/import" method="post" enctype="multipart/form-data">
    <input id="file" name="file" type="file" style="display:inline"/>
    <input type="submit" value="Schülerdaten importieren" class="btn btn-primary btn-sm" />
</form>

<br />

@*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "form1", name = "form1" }))
{
    <label class="col-md-2">Klassen</label>
    @Html.DropDownListFor(m => m.SelectedForm, new SelectList(Model.Forms, "FormId", "Name"), new { @class = "form-control col-md-8", onchange = "document.form1.submit()" })
    <input type="submit" class="btn btn-primary btn-sm col-md-2" value="Schüler anzeigen" />
}*@


@using (Ajax.BeginForm(new AjaxOptions { Url = "/home/pupiltable", UpdateTargetId = "table" }))
{ 
    <label class="col-md-2">Klassen</label>
    @Html.DropDownListFor(m => m.SelectedForm, new SelectList(Model.Forms, "FormId", "Name"), new { @class = "form-control col-md-8"})
    <input type="submit" name="submit" class="btn btn-primary btn-sm col-md-2" value="Schüler anzeigen" />
    <input type="submit" name="submit" class="btn btn-primary btn-sm col-md-2" value="Tests anzeigen" />
}

<br />
@*@Html.Partial("PartialPupilTable", Model.Pupils)*@
<div id="table"></div>


