@{
    ViewBag.Title = "Startseite";
}
<br />
<form action="/home/import" method="post" enctype="multipart/form-data">
    <input id="file" name="file" type="file" style="display:inline"/>
    <input type="submit" value="Schülerdaten importieren" class="btn btn-primary btn-sm" />
</form>

<br />
<div>
    <label class="col-md-2">Klassen</label>
    <select id="selectForms" class="form-control col-md-8"></select>
</div>

<br />
<div id="tablePupils">
    <table class="table table-hover table-condensed">
        <thead>
            <tr><th>Nachname</th><th>Vorname</th><th>Geburtstag</th><th>Geschlecht</th></tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

</div>


