@{
    ViewBag.Title = "Startseite";
}
<br />
<form action="/home/import" method="post" enctype="multipart/form-data">
    <input id="file" name="file" type="file" style="display:inline"/>
    <input type="submit" value="Schülerdaten importieren" class="btn btn-primary btn-sm" />
</form>

<br />
<div>
    <label class="col-md-2">Klassen</label>
    <select id="selectForms" class="form-control col-md-8"></select>
</div>

<br />
<div id="tablePupils">
    <h2>Edit Pupil</h2>
    <table class="table table-hover table-condensed">
        <thead>
            <tr><th>Lastname</th><th>Firstname</th><th>Birthday</th><th>Gender</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="editPupil" style="display:none">
    <div class="form-group">
        <label class="control-label col-md-2">Lastname</label>
        <div class="col-md-10">
            <input id="lastname" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Firstname</label>
        <div class="col-md-10">
            <input id="firstname" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">MatrikelNo</label>
        <div class="col-md-10">
            <input id="matrikelno" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Sex</label>
        <div class="col-md-10">
            <input id="sex" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Birthday</label>
        <div class="col-md-10">
            <input id="birthday" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">FormId</label>
        <div class="col-md-10">
            <input id="formid" type="text" class="form-control" />
        </div>
    </div>

    ´<div class="form-group">
        <button id="backButton" class="btn btn-primary btn-sm">Back</button>
        <button id="saveButton" class="btn btn-primary btn-sm">Save</button>
    </div>
</div>


